<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="website icon" type="png" href="static\css\Adobe Express - file.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel_archivos.css') }}">
</head>
<style>
    .notification-box {
        width: 250px;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        background: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.5s ease-in-out;
        margin: 10px auto;
    }

    .notification-box.success {
        background-color: #d4edda;
        border-left: 4px solid #28a745;
    }

    .notification-icon {
        font-size: 18px;
        margin-right: 8px;
        color: #28a745;/
    }

    .notification-content h3 {
        margin: 0;
        font-size: 14px;
        color: #155724;
    }

    .notification-content p {
        margin: 0;
        font-size: 12px;
        color: #155724;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.9);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
</style>

<body>
    <nav id="menu" class="menu">
        <div class="actionBar">
            <div>
                <button id="menuBtn">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <h3 class="menuText">File-Encrypt</h3>
            </div>
        </div>
        <ul class="optionsBar">
            <li class="menuItem">
                <button class="menuOption" onclick="window.location.href='/panel_user'">
                    <i class="fa-solid fa-house"></i>
                    <h5 class="menuText">Inicio</h5>
                </button>
            </li>
            <li class="menuBreak">
                <hr>
            </li>
            <li class="menuItem">
                <button class="menuOption" onclick="window.location.href='/archive'">
                    <i class="fa-solid fa-tag"></i>
                    <h5 class="menuText">Archivos</h5>
                </button>
            </li>
        </ul>
        <div class="menuUser">
            <a href="#">
                <div>
                    <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png"
                        alt="image">
                </div>
                <h5 class="username menuText">{{ username }}</h5>
                <p class="menuText"><i class="fa-solid fa-chevron-right"></i></p>
            </a>
            <div class="userInfo">
                <div>
                    <h1><i class="fa-solid fa-exclamation-circle"></i></h1>
                    <p>User Info: {{ user_role }}</p>
                </div>
            </div>
        </div>
        <div class="themeBar">
            <div>
                <button onclick="window.location.href='/logout'">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Exit</p>
                </button>

            </div>
        </div>
    </nav>
    <header class="header">
        <div class="header__content">
            <h1 class="header__title">Bienvenido {{ username }}</h1>
            <p class="header__subtitle">"Tu información segura, siempre a tu alcance."</p>
            <div class="header__stats">
                <div class="header__stat">
                    <div class="header__stat-value">{{ total_archivos }}</div>
                    <div class="header__stat-label">Archivos</div>
                </div>
                <div class="header__stat">
                    <div class="header__stat-value">{{ total_encriptados }}</div>
                    <div class="header__stat-label">Encriptados</div>
                </div>
                <div class="header__stat">
                    <div class="header__stat-value">{{ total_no_encriptados }}</div>
                    <div class="header__stat-label">No Encriptados</div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <h2 style="margin-left: 80px;">Tus archivos más recientes</h2>

    <div class="container">
        <div class="board">
            <!-- Sección Archivos -->
            <div class="column" style="margin-left: 50px; width: 60%;">
                <div class="column__header">
                    <h2 class="column__title">Archivos</h2>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del Archivo</th>
                            <th>Fecha de Subida</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for archivo in archivos_recientes %}
                        <tr>
                            <td>{{ archivo.nombre }}</td>
                            <td>{{ archivo.fecha_subida.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>
                                <span class="status {{ 'encriptado' if archivo.encriptado else 'no-encriptado' }}">
                                    {{ 'Encriptado' if archivo.encriptado else 'No Encriptado' }}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Separación -->
        <div class="separator"></div>

        <!-- Sección Notificaciones -->
        <div class="container">
            <div class="board">
                <div id="alert-container">
                    <!-- Notificación de la encuesta -->
                    <div class="notification-box success">
                        <div class="notification-icon">✔</div>
                        <div class="notification-content">
                            <h3>Hola!</h3>
                            <p>¿Ya hiciste tu encuesta? <a href="{{ url_for('survey') }}">Hazla aquí</a></p>
                        </div>
                    </div>

                    <!-- Notificaciones dinámicas -->
                    {% for notificacion in notificaciones %}
                    <div class="notification-box success">
                        <div class="notification-icon">⚠</div>
                        <div class="notification-content">
                            <h3>Aviso</h3>
                            <p>{{ notificacion.mensaje }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        document.getElementById('menuBtn').addEventListener('click', function () {
            const menu = document.getElementById('menu');
            menu.classList.toggle('open');
            const menuTexts = document.querySelectorAll('.menuText');
            menuTexts.forEach(text => text.classList.toggle('open2'));
        });

    </script>
</body>

</html>